<header class="border-b w-full">
    <div class="container h-12 flex justify-between mx-auto">
    <div class="logo flex items-center">
        <a class="site-header__logo-link text-xl font-normal uppercase font-mono" href="{{ routes.root_url }}">{{ shop.name }}</a>
    </div>
    <nav class="navigation flex items-center">
      {% for link in linklists.main-menu.links %}
        <a href="{{ link.url }}" class="px-4">{{ link.title }}</a>
      {% endfor %}

    </nav>
    <div class="utilities flex items-center">
      <button class="mx-2">
        {% include 'icon-search' %}
      </button>
      <button class="mx-2">
        <a href="{{routes.cart_url}}">{% include 'icon-cart' %}</a>
      </button>
      <button class="block md:hidden">
        {% include 'icon-hamburger' %}
      </button>
        
    </div>
    </div>


</header>

{% schema %}
  {
    "name": "header",
    "settings": []
  }
{% endschema %}
{% stylesheet %}

{% endstylesheet %}
{% javascript %}
    
{% endjavascript %}