<section data-section-id="{{ section.id }}" data-section-type="product" class="product container mx-auto">


  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

  <div class="wrapper flex  mx-auto mt-12 mb-24">
    <div class="image inline-flex justify-center w-2/5">
      {% for image in product.images %} {% include 'responsive-image' with image: image, max_width: 700, max_height: 800, %}{% endfor %}
    </div>
    
    <div class="w-3/5 px-12">
      <h1 class="text-xl font-bold">{{ product.title }}</h1>
      <div class="price-wrapper inline-flex mt-4">
      <span data-product-price class="text-red-700 mx-4">
        {{ current_variant.price | money }}
      </span>
  
      <div class="current-price mx-4">
        {% if product.compare_at_price_max > product.price %}
        {{ current_variant.compare_at_price | money }}
      {% endif %}
      </div>
  
      {% if product.compare_at_price > 0 %}<p class="uppercase inline-block bg-red-700 text-white px-2 py-1 text-sm mx-4">sale</p>{% endif %}
     </div>
  
      <div class="buttons">
        <button
        type="submit"
        name="add"
        data-submit-button
        @click="addToCart({{product.selected_or_first_available_variant.id}})"
        class="product-form border border-black px-20 py-2 block uppercase w-full mt-4"
        {% unless current_variant.available %}disabled="disabled"{% endunless %}>
          <div>
            <span>
            {% if current_variant.available %}
              {{ 'products.product.add_to_cart' | t }}
            {% else %}
              {{ 'products.product.sold_out' | t }}
            {% endif %}
          </span>
          </div>
          
        </button>
        <button class="bg-black text-white  px-20 py-2 block uppercase w-full mt-2">
          <span onclick="getId()" >
            buy it now
          </span>
        </button>
      </div>

      
      
  
    </div>
  </div>


</section>

{% schema %}
  {

  }
{% endschema %}
